.title {
    color: purple;
    text-align: center;
    font-size: 28px;
    text-decoration: solid;
}

#body-text {
    color: black;
    text-align: center;
    flex-wrap: wrap;
    font-size: 18px;
}

.btn {
    text-align: center;
    color: purple;
}